@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');


:root {
    --mc:#4C96DB;
    --lc:#f4f4f4;
    --dc:#333333;
}

html {font-size: 20px;}
body {font-size: 0.8rem;color: var(--dc);}


#Wrap {min-width: 95rem;}

h1,h2,h3,p,span.strong {letter-spacing: -0.025em;}

/*------------------- header ------------------------------*/

#header h1 {position: fixed;top: 2rem;left: 2rem;z-index: 999;font-size: 1rem;
font-weight: 700;font-family: 'Luxurious Roman', cursive;}

#header nav {position: fixed;top: 50%;right: -0.5rem;transform: translateY(-50%); z-index: 999;
transition: 0.3s;transform-origin: right;}

#header nav li {display: block;width: 5rem;height: 0;background: #ccc;transform-origin:right;}
#header nav li:nth-child(1) {transform: rotate(0);}
#header nav li:nth-child(2) {transform: rotate(300deg);}
#header nav li:nth-child(3) {transform: rotate(240deg);}
#header nav li:nth-child(4) {transform: rotate(180deg);}
#header nav li:nth-child(5) {transform: rotate(120deg);}
#header nav li:nth-child(6) {transform: rotate(60deg);}

#header nav li a {position: relative; display: block;width: 1rem;height: 1rem;
border-radius: 50%;transition: 1s;font-size: 0.5rem;font-weight: 300;}
#header nav li a:before {content: attr(data-);display: block;position: absolute;
top: 0;left: 0;background: #999;width: 100%;height: 100%;border-radius: 50%;
opacity: 1;transition: 0.3s;text-indent: -95px;color: #999;}
#header nav li a:after {content: "";display: block;position: absolute;
top: 0;left: 0;background: var(--mc);width: 100%;height: 100%;border-radius: 50%;
opacity: 0;transition: 0.3s;}
#header nav li.on a:after {opacity: 1;transform: scale(1.4);}
#header nav li.on a:before {font-size: 0.8rem;text-indent: -145px;
color: var(--dc);font-weight: 500;}
#header nav li:nth-child(1).on a:before {text-indent: -160px;}


#header .infoCase {position: fixed;top: 2rem;right: 2rem;display: flex;
z-index: 9999;}

#header .pf {font-weight: 500;line-height: 2;position: relative;
text-align: center;background: var(--mc);color: var(--lc);width: 5rem;}

#header .pf_list {display: none; position: absolute;top: 1.6rem;left: 0;
background: #fff;border: 1px solid var(--mc);color: var(--dc);
width: 100%;}
#header .pf_list li>a {display: block; font-size: 0.7rem;font-weight: 400;
line-height: 3;transition: 0.2s;}
#header .pf_list li>a:hover {background: var(--mc);color: var(--lc);}
#header .pf_list li~li {border-top: 1px solid var(--mc);}

#header .pf:hover .pf_list {display: block;}

#header .infoCase>a {display: block; border: 1px solid var(--mc);margin-left: 0.25rem;
transition: 0.3s;font-weight: 500;line-height: 2;
text-align: center;background: var(--mc);color: var(--lc);width: 5rem;}

#header .infoCase>a:hover {background: #fff;color: var(--dc);}


/*------------------- section 디자인 ------------------------------*/


.section {position: relative;z-index: -2;}
.section:before {content: "";display: block;position: absolute;
top: 7%;right: 18%;width: 40rem;height: 40rem;border-radius: 50%;
animation: cir 4s infinite linear;z-index: -1;}

@keyframes cir {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

.section .container {display: flex;width: 70rem;margin: 0 auto;position: relative;
align-items: center;}
.section .mockup {background: url(./pf_img/mockup_mac.png)no-repeat center center/100%;
padding: 10% 5.7% 11.5%;position: relative;}
.section .mockup_m {position: absolute;bottom: 0;left: 47.5%;background: url(./pf_img/mockup_phone.png)no-repeat center center/100%;
padding: 10% 1%;}
.section:nth-child(3) .mockup_m {position: absolute;bottom: 0;left: 40%;background: url(./pf_img/mockup_phone.png)no-repeat center center/100%;
padding: 10% 1%;}
.section:nth-child(5) .mockup_m {position: absolute;bottom: 0;left: 40%;background: url(./pf_img/mockup_phone.png)no-repeat center center/100%;
padding: 10% 1%;}

.section .mockup .mk_pc {position: relative;padding-bottom: 64%;overflow: hidden;
width: 25.5rem;}
.section .mockup .mk_pc img {position: absolute;top: 0;left: 0;width: 100%;}
.section .mockup .mk_pc:hover img {transform: translateY(-100%);top: 100%;
transition: 1.5s linear;}

.section .mockup_m .mk_m {position: relative;padding-bottom: 14rem;overflow: hidden;
width: 7rem;}
.section .mockup_m .mk_m img {position: absolute;top: 0;left: 0;width: 100%;
z-index: -1;}
.section .mockup_m .mk_m:hover img {transform: translateY(-100%);top: 100%;
transition: 1.5s linear;}


.section .desc {margin: 0 auto;}
.section .desc h2 {font-size: 2rem;font-weight: 300;margin-bottom: 1rem;
font-family: 'Noto Serif KR', serif;}
.section .desc p {font-size: 0.9rem;font-weight: 300;margin-bottom: 2rem;}
.section .desc dl {margin-bottom: 1rem;}
.section .desc dt {font-size: 1.2rem;font-weight: 500;margin-bottom: 1rem}
.section .desc .desc_c dd {display: inline-block;margin: 0 0.5rem;border-radius: 50%;padding: 0.5rem;position: relative;}

.section .desc .desc_t dt {border-top: 1px solid #bbb;padding-top: 0.5rem;}
.section .desc .desc_t dd {display: inline-block; margin-right: 1rem;
font-weight: 400;font-size: 0.75rem;}
.section .container .desc a {display: inline-block;padding: 0.75rem 1rem;
font-size: 0.8rem;color: #fff;margin-right: 0.25rem;}

/*------------------- intro 디자인 ------------------------------*/

.intro {background: url(./pf_img/patten.jpg);}
.intro .container {width: 70rem;margin: 0 auto;display: flex;align-items: center;justify-content: center;}
.intro .container>* {padding: 0 5rem;}

.intro .container figure {position: relative;}
.clock01 {width: 0.1rem;height: 5rem;background: #000;transform-origin: bottom center;
position: absolute;top: 28%;left: 50%;transform: translateX(-50%);z-index: -1;}
.clock02 {width: 0.1rem;height: 5rem;background: #000;transform-origin: bottom center;
position: absolute;top: 28%;left: 50%;transform: translateX(-50%);z-index: -1;}
.clock03 {width: 0.1rem;height: 5rem;background: #f00;transform-origin: bottom center;
position: absolute;top: 28%;left: 50%;transform: translateX(-50%);z-index: -1;}

.intro .container figure img {width: 100%;}

.intro .slogan h2 {position: relative; font-size: 1.5rem;font-weight: 500;margin-bottom: 1rem;line-height: 1.2;color: var(--mc);}
.intro .slogan span {font-size: 4rem;font-weight: 700;color: #eee;
animation: type 2s forwards;}

@keyframes type {
    to {text-shadow: 3px 3px 1px #000;} 
}

.intro .slogan p {font-size: 0.9rem;font-weight: 300;margin-bottom: 1rem;}
.intro .slogan strong {display: block; font-size: 1rem;font-weight: 500;}


/*------------------- 청강산업대학 ------------------------------*/


.portfolio_01:before {background: linear-gradient(to left,#ffb07c,#fff);}

.portfolio_01 .desc .desc_c dd:nth-child(2) {background: #F47520;}
.portfolio_01 .desc .desc_c dd:nth-child(3) {background: #FF858A;}
.portfolio_01 .desc .desc_c dd:nth-child(4) {background: #ffffff;border: 1px solid #999;}

.portfolio_01 .desc a {background: #F47520;}

/*------------------- BMW ------------------------------*/

.portfolio_02 {background: var(--lc);}
.portfolio_02:before {left: 16%;background:linear-gradient(to left, #b8bde9,var(--lc));}

.portfolio_02 .desc .desc_c dd:nth-child(2) {background: #0166B0;}
.portfolio_02 .desc .desc_c dd:nth-child(3) {background: var(--dc);}
.portfolio_02 .desc .desc_c dd:nth-child(4) {background: #ffffff;border: 1px solid #999;}

.portfolio_02 .desc a {background: #0166B0;}

/*------------------- 봉생병원 ------------------------------*/


.portfolio_03:before {background:linear-gradient(to left, #ffa7a7,#fff);}

.portfolio_03 .desc .desc_c dd:nth-child(2) {background: #FF7978;}
.portfolio_03 .desc .desc_c dd:nth-child(3) {background: #121A62;}
.portfolio_03 .desc .desc_c dd:nth-child(4) {background: #ffffff;
border: 1px solid #999;}

.portfolio_03 .desc a {background: #FF7978;}

/*------------------- Logitech ------------------------------*/

.portfolio_04 {background: var(--lc);}
.portfolio_04:before {left: 16%;background: linear-gradient(to left,#99CCFF,var(--lc));}

.portfolio_04 .desc .desc_c dd:nth-child(2) {background: #99CCFF;}
.portfolio_04 .desc .desc_c dd:nth-child(3) {background: #EEEEEE;
border: 1px solid #999;}
.portfolio_04 .desc .desc_c dd:nth-child(4) {background: #0099FF;border: 1px solid #999;}

.portfolio_04 .desc a {background: #0099FF;}

/*------------------- profile ------------------------------*/

.profile {background: #EAE2D7;}
.profile h2 {text-align: center;margin-bottom: 5rem;font-size: 2.4rem;
font-weight: 700;}

.profile .container {margin-bottom: 5rem;}
.profile .container>div {flex: 1;text-align: center;
margin: 0 0.5rem;}

.profile .profile_box {opacity: 0;transform: translateY(10rem);}
.profile.on .profile_box {opacity: 1;transform: translateY(0);transition: 0.5s;}
.profile .profile_box img {width: 50%;animation: circle 5s infinite linear;}


@keyframes circle {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

.profile .skill {opacity: 0;transform: translateY(10rem);}
.profile.on .skill {opacity: 1;transform: translateY(0);transition: 0.5s;}
.profile .skill dl {margin-bottom: 2rem;border-bottom: 1px solid #666;
padding-bottom: 2rem;}
.profile .skill dt {line-height: 1.8;font-size: 1.2rem;margin-bottom: 2rem;}
.profile .skill dd:nth-child(2) {font-size: 1.1rem;font-weight: 700;}
.profile .skill dd {line-height: 1.6;font-size: 0.9rem;}
.profile .skill_list strong {display: block;font-size: 1.2rem;font-weight: 700;
margin-bottom: 1rem;}

.profile .skill_list .icon {display: flex;}
.profile .skill_list i {display: block; padding: 1rem;font-size: 2rem;
background: #555;border-radius: 50%;margin: 0 auto;}

.profile .skill_list .xi-html5 {color: #F16529;}
.profile .skill_list .xi-css3 {color: #6CB7D0;}
.profile .skill_list .xi-javascript {color: #FFDE25;}
.profile .skill_list .xi-photoshop {color: #01C3F8;}
.profile .skill_list .xi-illustrator {color: #FF821D;}

.profile .career {opacity: 0;transform: translateY(10rem);}
.profile.on .career {opacity: 1;transform: translateY(0);transition: 0.5s;}
.profile .career strong {display: block;font-size: 1.7rem;font-weight: 700;
margin-bottom: 1rem;}

.profile .career_list p {font-weight: 400;
margin-bottom: 1.5rem;line-height: 1.5;}
.profile .career_list p:before {content: "";display: block;
width: 0.5rem;height: 0.5rem;background: var(--mc);margin: 0 auto;
border-radius: 50%;}

/*------------------- footer ------------------------------*/

#footer .toTop {position: fixed;bottom: 3rem;right: 3rem;z-index: 999;}
#footer .toTop i {font-size: 1.5rem;padding: .5rem;background: var(--mc);
color: var(--lc);}
#footer  address {position: fixed;bottom: 1rem;left: 1rem;z-index: 999;}




